$primary-color: #5a00b3;
$base-color: #EEEEEE;
$big-radius: 24px;
$small-radius: 14px;
$effect-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
$light-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);

:export {
  primaryColor: $primary-color;
  bigRadius: $big-radius;
  smallRadius: $small-radius;
  effectShadow: $effect-shadow;
  lightShadow: $light-shadow;
}